
.screenshot {
	padding: 5px;
}

button {
	background-repeat: no-repeat;
	padding: 0 12px 0 0;
	background: #4285f4;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	max-width: 248px;
	border: 0;
}

button:hover {
	background: #3367d6;
}

button::before {
	background-repeat: no-repeat;
	content: "";
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	margin-right: 11px;
	border: 0;
}
